<?xml version="1.0"?>
<config>
  <modules>
    <Lucky_Donations>
      <version>0.2</version>
    </Lucky_Donations>
  </modules>
  <global>
    <models>
      <donations>
        <class>Lucky_Donations_Model</class>
        <resourceModel>donations_mysql4</resourceModel>
      </donations>
      <donations_mysql4>
        <class>Lucky_Donations_Model_Mysql4</class>
        <entities>
          <charity>
            <table>donations_charity</table>
          </charity>
          <donations>
            <table>donations_donations</table>
          </donations>
        </entities>
      </donations_mysql4>
    </models>
    <resources>
      <donations_setup>
        <setup>
          <module>Lucky_Donations</module>
        </setup>
      </donations_setup>
    </resources>
    <helpers>
      <donations>
        <class>Lucky_Donations_Helper</class>
      </donations>
    </helpers>
    <blocks>
      <donations>
        <class>Lucky_Donations_Block</class>
      </donations>
    </blocks>
    <events>
      <sales_order_place_after>
        <observers>
          <donations>
            <type>singleton</type>
            <class>Lucky_Donations_Model_Observer</class>
            <method>addNoDonation</method>
          </donations>
        </observers>
      </sales_order_place_after>
    </events>
    <template>
      <email>
        <donations_cms_application_email_template translate="label" module="donations">
          <label>New Charity Application</label>
          <file>donations/add_organization.html</file>
          <type>html</type>
        </donations_cms_application_email_template>
      </email>    
    </template>
  </global>
  <frontend>
    <layout>
      <updates>
        <donations>
          <file>donations.xml</file>
        </donations>
      </updates>
    </layout>
    <routers>
      <donations>
        <use>standard</use>
        <args>
          <module>Lucky_Donations</module>
          <frontName>donations</frontName>
        </args>
      </donations>
    </routers>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <donations before="Mage_Adminhtml">Lucky_Donations_Adminhtml</donations>
          </modules>
        </args>
      </adminhtml>	
    </routers>
  </admin>
  
  <adminhtml>
    <layout>
      <updates>
        <donations>
          <file>donations.xml</file>
        </donations>
      </updates>
    </layout>
  </adminhtml>
  
  <default>
    <donations>
      <general>
        <commission>0</commission>
      </general>
    </donations>
    <donations_cms>
      <application>
        <email_template>donations_cms_application_email_template</email_template>
        <sender>general</sender>
        <message_success><![CDATA[Thank you for your interest in joining our donations program! I've received your information and will update our system ASAP to include you. When I do, you'll get an email to let you know. In the meantime, go ahead and grab a badge and place it on your blog. Thanks again!]]></message_success>
        <message_error><![CDATA[Your application was not submitted. Please make sure you've filled out all the required fields. Thanks!]]></message_error>
      </application>    
    </donations_cms>
  </default>
</config>
